#infoblock {
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 999999;
}

.infoblock-inner {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  line-height: 10px;
}