#floorSwitcher {
  position: fixed;
  left: 10px;
  top: 10px;
}

.floor-switcher-outer {
  text-align: right;
}

.floor-switcher-inner {
  background-color: #ffffffdb;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}

.floor-element {
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.floor-element:last-child {
  border-bottom: 0px;
}

.floor-element:hover {
  background-color: #fbfbfb;
}

.current-floor {
  background-color: #2982c0!important;
  color: #fff; 
}

.floor-switcher-closer {
  margin: 10px auto;
}