@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.header_logo {
	position: fixed;
	top: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.header_logo img {
	width: 50%;
	max-width: 200px;
}

.modal-content {
	border-radius: .3rem .3rem 0 0!important;
}

.modal-full .modal-content {
	height: 90vh!important;
}

.modal-small .modal-content {
	min-height: 20vh!important;
}

.modal-dialog-centered {
	align-items: flex-end!important;
	min-height: 100%!important;
}

.modal.fade .modal-dialog {
	transform: translate(0,100px)!important;
}

.modal.show .modal-dialog {
    transform: none!important;
}

.modal-body {
	overflow-x: hidden;
	overflow-y: scroll;
}

.modal-backdrop {
	display: none;
}


.btn-primary {
	background-color: rgba(41, 130, 192, 0.8)!important;
    border-color: rgba(41, 130, 192, 1)!important;
}
.btn-primary:hover {
	background-color: rgba(41, 130, 192, 1)!important;
    border-color: rgba(41, 130, 192, 1)!important;
}

.modal-small {
	pointer-events: none;
}

#contained-modal-title-vcenter {
	font-size: 16px;
}

.modal-lg, .modal-xl {
    margin: 0 auto!important;
}

@media (min-width: 992px) {
	.modal-lg, .modal-xl {
	    max-width: 600px!important;
	}
}

